$primaryClr: #0d0d0d;
$secondaryClr: #6941c6;
$secondaryClr2: #c0c5d0;

$white: #ffffff;
$backgroundClr: #101010;

$tag-tech: #6420aa;
$tag-gaming: #9a031e;
$tag-dev: #d20062;

$fontClr: $white;

$pcS: 1200px;
$pc: 1440px;
$tablet: 767px;
$phone: 480px;
